In [19]:
import pandas as pd

ceo_df = pd.read_csv("management-positions/management-positions.csv")
ceo_df.rename(columns={'Pacific Island Countries and territories':'island'}, inplace=True)
ceo_df = ceo_df[["island", "TIME_PERIOD", "OBS_VALUE", "Age"]]
ceo_df.columns = ["island", "year", "share_female_lead", "age"]
ceo_df

                              island  year  share_female_lead    age
0                              Tonga  2021               27.8  55-64
1                   Marshall Islands  2019               33.2  25-54
2                             Tuvalu  2015               37.9  25-54
3                              Samoa  2013               42.3  55-64
4                              Tonga  2021               37.9  25-54
5                    Solomon Islands  2012                7.3  55-64
6                    Solomon Islands  2012               22.3  25-54
7                              Palau  2013               35.7  25-54
8                              Palau  2013               42.7  55-64
9                              Nauru  2012               34.1  25-54
10                          Kiribati  2019               44.3  55-64
11  Micronesia (Federated States of)  2013               11.7  55-64
12                             Samoa  2013               39.1  25-54
13                             Nauru  2012               54.3  55-64
14                           Vanuatu  2019               22.7  25-54
15                           Vanuatu  2019               26.8  55-64
16                          Kiribati  2019               35.5  25-54
17                  Marshall Islands  2019               12.1  55-64
18                            Tuvalu  2015               24.4  55-64
19  Micronesia (Federated States of)  2013               21.8  25-54

In [18]:
educ_df = pd.read_csv("education-level/education-level.csv")
educ_df.rename(columns={'Pacific Island Countries and territories':'island'}, inplace=True)
educ_df = educ_df[["island", "TIME_PERIOD", "OBS_VALUE", "Sex", "Age", "Education level"]]
educ_df.columns = ["island", "year", "count", "sex", "age", "level"]
educ_df = educ_df[~educ_df["level"].isin(["Level not stated", "All education levels"])]

educ_df.replace({
   "Early childhood education": "Highschool and below",
   "Primary education": "Highschool and below",
   "Lower secondary education": "Highschool and below",
   "Upper secondary education": "Highschool and below",
   "Post-secondary non-tertiary education": "After highschool",
   "Tertiary education": "After highschool"
}, inplace=True)
educ_df = educ_df.groupby(by=["island", "year", "sex", "age", "level"])["count"].sum().reset_index()
educ_df.head(20)

              island  year     sex    age                 level  count
0           Kiribati  2020  Female  25-54      After highschool   1318
1           Kiribati  2020  Female  25-54  Highschool and below  20118
2           Kiribati  2020  Female  55-64      After highschool    133
3           Kiribati  2020  Female  55-64  Highschool and below   3626
4           Kiribati  2020    Male  25-54      After highschool   1054
5           Kiribati  2020    Male  25-54  Highschool and below  18806
6           Kiribati  2020    Male  55-64      After highschool    172
7           Kiribati  2020    Male  55-64  Highschool and below   2859
8   Marshall Islands  2021  Female  25-54      After highschool   1194
9   Marshall Islands  2021  Female  25-54  Highschool and below   4684
10  Marshall Islands  2021  Female  55-64      After highschool    144
11  Marshall Islands  2021  Female  55-64  Highschool and below    819
12  Marshall Islands  2021    Male  25-54      After highschool   1159
13  Marshall Islands  2021    Male  25-54  Highschool and below   4665
14  Marshall Islands  2021    Male  55-64      After highschool    191
15  Marshall Islands  2021    Male  55-64  Highschool and below    765
16             Nauru  2021  Female  25-54      After highschool    114
17             Nauru  2021  Female  25-54  Highschool and below   1965
18             Nauru  2021  Female  55-64      After highschool     24
19             Nauru  2021  Female  55-64  Highschool and below    261