In [20]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv("unpaid-work.csv").dropna(axis=1)
print(df.columns)
df = df[["OBS_VALUE", "Sex", "Age", "Pacific Island Countries and territories", "INDICATOR"]]
df = df[df["INDICATOR"]!="SL_DOM_TSPDCW"]
df

Index(['STRUCTURE', 'STRUCTURE_ID', 'STRUCTURE_NAME', 'ACTION', 'FREQ',
       'Frequency', 'INDICATOR', 'Indicator', 'GEO_PICT',
       'Pacific Island Countries and territories', 'SEX', 'Sex', 'AGE', 'Age',
       'URBANIZATION', 'Urbanization', 'INCOME', 'Income', 'EDUCATION',
       'Education level', 'OCCUPATION', 'Occupation', 'COMPOSITE_BREAKDOWN',
       'Composite breakdown', 'DISABILITY', 'Disability', 'TIME_PERIOD',
       'OBS_VALUE', 'UNIT_MEASURE', 'Unit of measure', 'REPORTING_TYPE',
       'Reporting type', 'NATURE', 'Nature', 'DATA_SOURCE'],
      dtype='object')

,OBS_VALUE,Sex,Age,Pacific Island Countries and territories,INDICATOR
0,10.00,Total,15-24,Tonga,SL_DOM_TSPD
1,6.70,Total,15-24,Kiribati,SL_DOM_TSPD
2,11.20,Total,15-24,Vanuatu,SL_DOM_TSPD
3,16.70,Total,15-24,Marshall Islands,SL_DOM_TSPD
5,2.93,Male,15-24,Fiji,SL_DOM_TSPDDC
6,3.37,Male,25-44,Fiji,SL_DOM_TSPDDC
7,6.59,Female,15-24,Fiji,SL_DOM_TSPDDC
8,11.02,Female,25-44,Fiji,SL_DOM_TSPDDC
9,6.28,Male,25-44,Fiji,SL_DOM_TSPD
10,3.78,Male,15-24,Fiji,SL_DOM_TSPD
13,10.73,Female,15-24,Fiji,SL_DOM_TSPD
14,19.17,Female,25-44,Fiji,SL_DOM_TSPD